<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>
	{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
<link rel="stylesheet" href="{{ CSS_ROOT }}bootstrap.min.css" />
<link rel="stylesheet" href="{{ CSS_ROOT }}style.css" />
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ STATIC_ROOT }}js/bootstrap.min.js"></script>
</head>
<body>
<div class="pagec">
  <div class="pagehead">
    <div class="logo"><img src="{{ STATIC_ROOT }}images/logo.jpg" width="756" height="198" alt="{{ website_title }}" /></div>
    <div class="photo"><img src="{{ STATIC_ROOT }}images/photo.jpg" width="268" height="306"  alt="{{ website_title }}" /></div>
    <div class="navbar">{{ DROPDOWN_MENU|raw }}</div>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="pagecontent"> {% if can_edit %}
    <div style="height:100px;">This space is required by the editor</div>
    {% endif %}
    
    
    {% block content %}
    content goes here
    {% endblock %} </div>
  <div class="pagefooter"><img src="{{ STATIC_ROOT }}images/footer.jpg" width="1024" height="102"  alt="{{ website_title }}" /></div>
</div>
</body>
</html>
