body,td,th {
	color: #000;
	margin:0px;
}

html,body,table,td,tr,p,div{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;	
}

a img{
	border:0px;
}

a:link {
	color: #F00;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #d71828;
}

a:hover {
	text-decoration: underline;
	color: #F00;
}

a:active {
	text-decoration: none;
	color: #d71828;
}

h1{
	text-align:left;
	vertical-align:bottom;
	padding-left:21px;
	padding-top:13px;
	color:#d71828;
}

.nav li{
	color:#042a7f;
}

.nav li a{
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:lighter; !important
	color:#042a7f; !important
}

.pagec{
	width:1030px;
	min-height: 100%;
	border:#002776 solid;
	margin-left:auto;
	margin-right:auto;
}

.pagehead{
	width:1024px;
	height:306px;
}

.logo{
	width:756px;
	height:198px;
	float:left;
}

.photo{
	height:306px;
	width:268px;
	float:right;
}
.navbar{
	width:756px;
	height:108px;
	float:left;
	margin-top:1px;
	background-image:url(../images/bottomnav.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
}

.clear{
	width:100%;
	height:5px;
	clear:both;
}

.pagecontent{
	width:95%;
	min-height:500px;
	margin-top:-30px;
	margin-left:auto;
	margin-right:auto;
}

.pagefooter{
	width:1024px;
	height:102px;
}



