@charset "utf-8";

/* CSS Document */



html, body{

	height:100%;

	margin:0px;

}



html,body,table,td,tr,p,div{

	font-family:Verdana, Geneva, sans-serif;

	font-size:12px;	

}



a img{

	border:0px;

}

a:link {

	color: #F00;

	font-weight: bold;

	text-decoration: none;

}

a:visited {

	text-decoration: none;

	color: #d71828;

}

a:hover {

	text-decoration: underline;

	color: #F00;

}

a:active {

	text-decoration: none;

	color: #d71828;

}





.container{

	width:1024px;

	min-height: 100%;

	height:auto;

	margin:auto;

	border:#002776 solid;

}



* html .container { /***** for IE6 only *****/

height: 100%;

}



.content{


	width:990px;
	margin-left:20px;
	margin-right:20px;
	min-height:360px;


}

.spacer{

	height:10px;

	clear:both;

}

.logo{

	margin:0px;

	width:756px;

	height:198px;

	float:left;

}

.nav{

	margin:0px;

	width:756px;

	height:54px;

	float:left;

}

.bottomnav{

	margin:0px;

	width:756px;

	height:54px;

	float:left;

	background-image:url(images/bottomnav.jpg);

	background-repeat:repeat-x;

}



.bottomnav h1{

	text-align:left;

	vertical-align:bottom;

	padding-left:21px;

	padding-top:13px;
	color:#d71828;
}

.photo{

	margin:0px;

	width:268px;

	height:306px;

	float:right;

}



.footer{

	vertical-align:bottom;

}