
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


	{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ CSS_ROOT }}style.css" media="screen" />    
	<link rel="stylesheet" href="{{ CSS_ROOT }}bootstrap.min.css" />
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ STATIC_ROOT }}js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">
<div class="logo"><img src="{{ STATIC_ROOT }}images/logo.jpg" alt="Vote Kritzman for Livonia City Council" width="756" height="198" /></div>
<div class="photo"><img src="{{ STATIC_ROOT }}images/photo.jpg" width="268" height="306" /></div>

<div class="nav">{{ DROPDOWN_MENU|raw }}</div>

<div class="bottomnav"> &nbsp; </div>
<div class="spacer">&nbsp;</div>
<div class="content">

        {% if can_edit %}
        <div style="height:100px;">This space is required by the editor</div>
        {% endif %}
        
        
        {% block content %}
        content goes here
        {% endblock %}		

</div>

<div class="footer">
<div align="center" style="padding-top:5px;">Site powered by <a href="http://Websitesbythemenu.com" target="_blank">Websitesbythemenu.com</a> CMS</div>
<img src="{{ STATIC_ROOT }}images/footer.jpg" alt="Paid for by Citizens for Brandon M. Kritzman 29601 Jaquelyn Livonia Mi 48154" width="1024" height="102" /></div>


</div>
</body>
</html>